*{
  box-sizing: border-box;
  font-family: -BlinkMacSystemFont, BlinkMacSystemFont, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  min-height: 100vh;
}

#calc-container {
  display: inline-flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  min-width: 125px;
}

#display {
  align-self: flex-end;
}

#display p{
  font-size: 10vw;
  margin: 0;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  padding: 0;
  font-size: 4vw;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

#zero-btn{
  grid-column: span 2;
  aspect-ratio: 2/1;
  border-radius: 75px;
}

@media (max-width: 800px){
  #calc-container{
    max-width: 50%;
  }
}