*{
  box-sizing: border-box;
  font-family: -BlinkMacSystemFont, BlinkMacSystemFont, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

body {
  min-height: 100vh;
  margin: 0;
}

#calc-container {
  background-color: rgb(25, 25, 25);
  padding: 10px;
  border-radius: 15px;
  display: inline-flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  min-width: 125px;
}

#display {
  align-self: flex-end;
}

#display p{
  font-size: 5.5vw;
  margin: 0;
  color: white;
}

#buttons {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.button:nth-child(4n),
#equals-btn {
  background-color: rgb(246,153,27);
  color: white;
}

.button:nth-child(1), .button:nth-child(2), .button:nth-child(3){
  background-color: rgb(151,151,151);
  color: black;
}

.button {
  background-color: rgb(49,49,49);
  color: white;
  padding: 0;
  font-size: 4vw;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.button-clicked {
  animation-name: button-click;
  animation-duration: .5s;
}

#zero-btn{
  grid-column: span 2;
  aspect-ratio: 2/1;
  border-radius: 75px;
}

@media only screen and (max-width: 1000px){
  #calc-container{
    max-width: 45%;
  }
}

@keyframes button-click {
  from {filter: brightness(160%);}
  to {filter: brightness(100%);}
}